:root {
  --primary-color: #020d54;
  --primaryText-color: #4a4f72;
  --primaryHover-color: #010f69;
  --primaryRing-color: #cbd1fc;
  --border-color: #e1e5e4;
  --app-bg: #f3f5fe;
  --danger-color: #f91717;
  --link-active: #3e4a991f;
  --link-activeDropdown: #7d83b617;
  --warning-color: #abad0d;
  --success-color: #05b829;
  --disabled-color: #04103d38;
}

/* primary variants: {
    100: "#cccedb",
    200: "#999db7",
    300: "#666c92",
    400: "#333b6e",
    500: "#000a4a",
    600: "#00083b",
    700: "#00062c",
    800: "#00041e",
    900: "#00020f"
}; */
